<a href="https://colab.research.google.com/github/Kushwanth2004/python/blob/main/Copy_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

functions

In [ ]:

print("hello world")
a=int(input("enter a: "))
b=int(input("enter b: "))
c=int(input("enter c: "))
print(a+b)
print((a+b)**3)
print(a==b)
print(a>b)
print(a<b)
print((a>3) or (b<2))
list=[10,20,30,40,50]
print(list)
name="kushwanth"
print("w"  not in name)
print(20 in list)
if a>0:
  print(a,"is positive")
elif a<0:
  print(a,"is negative")
else:
  print(a, "is 0")

if(a%2==0):
  print("even")
else:
  print("odd")

if(a>b and a>c):
  print("a is greatest")
elif(b>c):
  print("b is greatest")
else:
    print("c is greatest")

name="kushwanth"
len(name)

hello world
enter a: 5
enter b: 7
enter c: 3
12
1728
False
False
True
True
[10, 20, 30, 40, 50]
False
True
5 is positive
odd
b is greatest

9

In [ ]:
def kush():
  print("kushwanth")

def add():
  a=20
  b=43
  print(a+b)

def addi(a,b):
  sum=a+b
  print(sum)

def sum(x,y):
  return x+y

def calci():
  a=int(input("a: "))
  b=int(input("b: "))
  sum=a+b
  sub=a-b
  mul=a*b
  div=a/b
  print(sum,sub,mul,div)

#main
kush()
add()
addi(12,32) #function call
result = sum(22,33)
print(result)
calci()

kushwanth
63
44
55
a: 8
b: 9
17 -1 72 0.8888888888888888

In [ ]:
#python function arguements
#default  values
"""def add(a=3, b=7):
  sum=a+b
  print("sum: " ,sum)
add(8)"""

#python keyword arguements
def dis(fn,ln):
  print("first name: ",fn)
  print("last name: ",ln)

dis( ln="ram",fn="charan")

first name:  charan
last name:  ram

In [ ]:
#multiple values
def find(*num):
  res=0
  for i in num:
    res=res+i
  print("sum ", res)

find(5,3,5,6)

sum  19

Modules

In [ ]:
import math
a=int(input("enter number"))
sq=math.sqrt(a)
print(sq)

enter number256
16.0

Lists

In [ ]:
cricket=["virat","rohit","siraj","shami","bumrah","bhuvi","iyer"]
i=0
for i in cricket:
  print(i)

print(cricket[-4])

virat
rohit
siraj
shami
bumrah
bhuvi
iyer
shami

In [ ]:
list=[10,5,77,44,654,77]
print(list)
list.append(11)
print(list)
list.insert(3,234)
print(list)
list.pop()
print(list)
list.clear()
print(list)

[10, 5, 77, 44, 654, 77]
[10, 5, 77, 44, 654, 77, 11]
[10, 5, 77, 234, 44, 654, 77, 11]
[10, 5, 77, 234, 44, 654, 77]
[]

In [ ]:
list=[56,77,43]
print(type(list))
new= tuple(list)
print(type(new))

<class 'list'>
<class 'tuple'>

Loops

In [ ]:
for i in range(0,20,2):
  print(i)

0
2
4
6
8
10
12
14
16
18

In [ ]:
i=0
while i < 15:
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
for i in range(0,13):
  if i==7:
    continue
  print(i)

0
1
2
3
4
5
6
8
9
10
11
12

In [ ]:
for i in range(0,13):
  if i==7:
    break
  print(i)

0
1
2
3
4
5
6

In [ ]:
str="vizag"
for i in str:
  print(i)

print( 'g' in str)

v
i
z
a
g
True

In [ ]:
total=0
num=int(input("enter number"))
while num !=0:
  total=total+num
  num=int(input("enter number"))

print(total)

enter number32
enter number45
enter number22
enter number54
enter number0
153

Dictionary

In [ ]:
data={"andhra":"amaravathi","telangana":"hyderabad","tamilnadu":"chennai","karnataka":"banglore"}
print(data)
print(data["telangana"])
data["india"]="delhi"
print(data)

{'andhra': 'amaravathi', 'telangana': 'hyderabad', 'tamilnadu': 'chennai', 'karnataka': 'banglore'}
hyderabad
{'andhra': 'amaravathi', 'telangana': 'hyderabad', 'tamilnadu': 'chennai', 'karnataka': 'banglore', 'india': 'delhi'}

In [ ]:
student={"125":"kushwanth","006":"kaushik","057":"srikar"}
print(student)
#del student["057"]
print(student)
print(len(student))
print(student.keys())
print(student.values())

{'125': 'kushwanth', '006': 'kaushik', '057': 'srikar'}
{'125': 'kushwanth', '006': 'kaushik', '057': 'srikar'}
3
dict_keys(['125', '006', '057'])
dict_values(['kushwanth', 'kaushik', 'srikar'])

Sets

In [ ]:
set={24,35,13,4524,323,33,33}
print(set)
set.add(99)
print(set)
print(len(set))

{33, 323, 35, 24, 4524, 13}
{33, 323, 35, 99, 24, 4524, 13}
7

In [ ]:
a={3,4,5,6,7}
b={33,44,3,78}
print(a|b)
print(a&b)
print(a.difference(b))
print(a-b)
print(b-a)
print(a^b)

{33, 3, 4, 5, 6, 7, 44, 78}
{3}
{4, 5, 6, 7}
{4, 5, 6, 7}
{33, 44, 78}
{33, 4, 5, 6, 7, 44, 78}

lambda functions

In [ ]:
a=lambda value: print("hello", value)
a("kushwanth")

hello kushwanth

variables

In [ ]:
#local variable
'''def hi():
  msg="hello"
  print("local", msg)

hi()'''

#global variable
msg="hello"
def hi():
  print("kushu", msg)

print(msg)
hi()

hello
kushu hello

In [ ]:
def one(x):
  def two(y):
    return x+y
  return two

#main program
sum=one(12)
print(sum(5))

17

exceptions

In [ ]:
try:
  num=10
  den=0
  res=num/den
  print(res)
except:
  print("den cannot be zero")

den cannot be zero

In [ ]:
#program to find reciprocal of even number
'''num=int(input("enter num: "))
if num%2==0:
  rec=1/num
  print(rec)
else:
  print("not")'''

try:
  num=int(input("enter number: "))
  assert num%2==0
except:
  print("not even")
else:
  rec=1/num
  print(rec)

enter number: 90
0.011111111111111112

In [ ]:
list=[]
'''for i in range(11):
  if i % 2 == 0:
    list.append(i*i)

print(list)'''

list=[i*5 for i in range(20) if i%2!=0]
print(list)

[5, 15, 25, 35, 45, 55, 65, 75, 85, 95]

In [ ]:
class work:

    # class attribute
    attr1 = "software"

    # Instance attribute
    def __init__(self, name):
        self.name = name

# Driver code
# Object instantiation
srikar = work("srikar")
Tommy = work("Tommy")

# Accessing class attributes
print("srikar is a {}".format(srikar.__class__.attr1))
print("Tommy is also a {}".format(Tommy.__class__.attr1))

# Accessing instance attributes
print("My name is {}".format(srikar.name))
print("My name is {}".format(Tommy.name))

srikar is a software
Tommy is also a software
My name is srikar
My name is Tommy

In [ ]:
class work:

    # Instance attribute
    def __init__(self, name):
        self.name = name

    def speak(self):
      print("my name is {}".format(self.name))

# Object instantiation
srikar = work("srikar")
Tommy = work("Tommy")

#accessing class methods
srikar.speak()
Tommy.speak()

my name is srikar
my name is Tommy